.aside {
    display: none;
}

.reset {
    width: 100%;
}

.contentReset {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border: solid 1px var(--gris1);
}

.divFormPassword {
    width: 90%;
}

.formPassword input {
    background-color: var(--text-primary);
    color: var(--noir-clair);
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.divBtnPassword {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnResetPassword {
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #126e40;
    padding: 10px 10px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px
}